/* RESPONSIVE 1200 px - 993 px */
@media(max-width: 1200px){

    .icons-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .nav-list{
        width: 60%;
        height: calc(100vh - 200px);
        position: absolute;
        top: 90px;
        right: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 0 0 10px 10px;
        gap: 40px;
        background: rgba(0, 0, 0, 0.938);
        border-left: whitesmoke 1px solid;
        border-right: whitesmoke 1px solid;
        border-bottom: whitesmoke 1px solid;
        transform: translateX(150%);
        transition: all 0.5s ease;
    }
    
    .menu-label {
        display: flex;
        justify-content: end;
        align-items: end;
        cursor: pointer;
    }

    #toggle-menu:checked~.nav-list {
        display: flex;
        transform: translateX(0%);
        transition: all 0.5s ease;
    }

    #about{
        margin-bottom: 30px;
    }

    .nosotros{
        margin-top: 0px;
    }

    .nos-img img{
        display: none;
    }

    .cards-about .card-back a{
        width: 50%;
        height: 20%;
    }

    .about-info{
        width: 100%;
    }

    #galeria {
        margin-bottom: 60px;
        }

    #productos {
        margin-bottom: 30px;
        }

    .cards-container{
        margin-top: 30px ;
    }

    .contacto{
        margin-top: 30px;
        width: 90%;
    }

    .form{
        margin-left: 30px;
    }

    .mapa{
        width: 45%;
    }
}


/* RESPONSIVE 992 px - 769 px */
@media(max-width: 992px){
    .navbar{
        height: 70px;
    }

    .nav-list{
        top: 70px;
    }

    .logo-nav{
        height: 70px;
    }

    .cart{
        top: 70px;
    }
    .cards-productos{
        width: 33%;
    }

    .cards-productos img{
        width: 100%;
    }

    .contacto{
        flex-direction: column;
        width: 70%;
    }

    .form{
        margin-left: 30px;
        width: 90%;
    }

    .mapa{
        width: 100%;
        padding: 20px 0 20px 20px;
    }

    #footer{
        padding-left: 40px;
        padding-right: 40px;
    }
    .redes,
    .diseño,
    .footer-img{
        width: 28%;
        flex-wrap: wrap;
    }

    .redes img{
        width: 90%;
    }

    .footer-img img{
        width: 80%;
    }

    .diseño p{ 
        font-size: 20px;
    }
}


/* RESPONSIVE 768 px - 577 px */
@media(max-width: 768px){
    .navbar{
        height: 70px;
    }

    .logo-nav{
        height: 70px;
    }

    .cards-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards-info{
        width: 100%;
        padding: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .cards-info h3{
        text-align: center;
        width: 100%;
    }

    .card-img{
        padding-top: 20px;
        min-height: 250px;
    }

    .cards-about .card-back a{
        width: 70%;
    }

    .card-back{
        background-repeat:no-repeat;
        background-position:center;
        background-size:contain;
        -webkit-background-size:contain;
    }
    
    
    .cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards-productos{
        width: 70%;
    }

    .cards-productos img{
        width: 50%;
    }
    .contacto{
        width: 90%;
    }

    .form{
        margin-left: 0;
    }

    .redes,
    .diseño,
    .footer-img{
        width: 33%;
        flex-wrap: wrap;
    }

    .redes img{
        width: 70%;
        padding-bottom: 15px;
    }

}

/* RESPONSIVE 576 px - 320 px */
@media(max-width: 576px){
    .navbar{
        height: 70px;
    }

    .logo-nav{
        height: 70px;
    }

    #hero img{
        margin-bottom: 30px;
    }

    h1{
        font-size: 76px;
    }

    .galeria-img img{
            max-width: 290px;
    }

    .card-back{
        background-image: url(../img/flecha-rotada.jpg);
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        -webkit-background-size:cover;
    }

    .cards-about .card-back a{
        width: 100%;
    }
    
    .card-back h3{
        font-size: 45px;
    }

    #contacto{
        margin-bottom: 20px;
    }

    .form h2{
        font-size: 55px;
        text-align: center;
    }
    .form input,
    .form textarea{
        max-width: 260px;
    }
    #footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .redes,
    .diseño,
    .footer-img{
        width: 90%;
    }

    .redes{
        flex-wrap: nowrap;
    }

    .redes img{
        padding-bottom: 0;
        width: 90%;
    }

    .footer-img img{
        width: 50%;
        padding-bottom: 20px;
    }

    .diseño{
        gap: 5px;
    }

    .diseño p{
        font-size: 15px;
    }
}














/* ----- NAV ----- */
/* .navbar ul {
    background-color: var(--bg-violeta);
    width: 100%;
    height: calc(70vh - 120px);
    position: absolute;
    top: 110px;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 0 0 5px 5px;
    display: none;
}

.menu-label {
    display: flex;
    cursor: pointer;
} */

/* ----- CART ----- */
/* #toggle-menu:checked~.nav-list {
    display: flex;
}

.cart-label {
    display: flex;
    cursor: pointer;
}

#toggle-cart:checked~.nav-list {
    display: flex;
} */
