@font-face {
    font-family: 'Norseman';
    src: url(../fonts/NORSEMAN.ttf);
}

@font-face {
    font-family: 'Norse';
    src: url(../fonts/Norse.otf);
}

@font-face {
    font-family: 'NorseBold';
    src: url(../fonts/Norsebold.otf);
}

@font-face {
    font-family: 'Pieces';
    src: url(../fonts/PiecesOfEight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-family:'Pieces';
    font-weight: 500;
    color: whitesmoke;
    font-size: 100px;

}

h2 {
    font-family: 'Norse', sans-serif;
}

h3 {
    font-family: 'Norsebold', sans-serif;
    font-size: 50px;
    font-weight: 300;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

:root {
    /* PAELTA 1 */
    /* --negro: #05060A;
    --verde-oscuro: #141E16;
    --verde:#1D2A23;
    --verde-claro: #2B3A35;
    --azul: #163341;
    --celeste: #345C75;
    --gris: #525866;
    --lila: #696E84;
    --lila-claro: #C4B5BC; */

    /* PALETA 2 */
    --negro: #000000;
    --gris-violeta: #4d4545;
    --gris: #4d4d4d;
    --verde: #3d4d42;
    --background: #101010;
    --rojo:#d12011;
    --blanco: #cdcdcd ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    flex-direction: row;
    padding-right: 30px;
    padding-left: 10px;
    background: linear-gradient(180deg, rgb(24, 24, 24) 0%, rgb(32, 32, 32) 45%, rgb(40, 40, 40) 55%, rgba(24, 24, 24, 1) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 2;
}

.logo-nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: white;
}

.nav-list a{
    position: relative;
}
.nav-list a,
.nav-register a {
    color: white;
}

.nav-register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav-register li:last-child{
    border: whitesmoke 1px solid;
    padding: 10px;
    border-radius: 8px;
}

.icons-nav img{
    width: 100%;
    height: 30px;
}


/* ----- ANIMACIÓN NAV ----- */
.subrayado::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: whitesmoke;
    transition: width 0.5s ease;
}

.subrayado:hover::before{
    width: 100%;
}


/* --- hamb --- */
#toggle-menu {
    display: none;
}

.menu-label {
    display: none;
}

/* --- cart --- */
#toggle-cart {
    display: none;
}
.cart-label{
    display: flex;
    justify-content: end;
    align-items: end;
    cursor: pointer;
    }

.cart{
    width: calc(100vw - 60%);
    height: calc(100vh - 150px);
    position: absolute;
    top: 90px;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 0 0 0 10px;
    gap: 40px;
    background: rgba(0, 0, 0, 0.938);
    border-left: whitesmoke 1px solid;
    border-bottom: whitesmoke 1px solid;
    transform: translateX(200%);
    transition: all 0.5s ease;
    overflow-y:scroll;
    
}

.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.cart h2{
    font-size: 60px;
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart h3{
    font-size: 25px;
    color: white;
    text-align: center;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgba(122, 122, 122, 0.26);
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
    border: whitesmoke 1px solid;
}

.cart-item img{
    width: 70px;
    border-radius: 10px;
    border: whitesmoke 2px solid;
}

.item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-right: 50px; */
    color: whitesmoke;
}

.item-handler{
    display: flex;
    justify-content: center;
    align-items:center;
    color: whitesmoke;
    gap: 15px;
}

.quantity-handler{
    display: flex;
    justify-content: center;
    align-items: center;

}

.down,
.up{
    border: whitesmoke 1px solid;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

.total span{
    font-family: 'Norsebold', sans-serif;
    font-size: 30px;
}

.cart-btn{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 30px;
}

.cart-btn button{
    font-family: 'Norsebold', sans-serif;
    font-size: 30px;
    background-color: var(--negro);
    border: whitesmoke 2px solid;
    border-radius: 8px;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
}

#toggle-cart:checked~.cart {
    transform: translateX(0%);
    transition: all 0.5s ease;
}


main {
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* ----- HERO ----- */

#hero img {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 100px;
}


/* ----- NOSOTROS ----- */
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

/* #about h1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
} */

.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.nos-img{
    max-width: 560px;
}

.nos-img img{
    border-radius: 10px;
}

.about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--blanco);
    padding: 20px;
    width: 70%;
    height: 80%;
}

.cards-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--negro),var(--background));
    border: var(--blanco) 2px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    position: relative;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}


.cards-about h3{
    align-self: flex-start;
    color:var(--rojo);
    padding-bottom: 10px;
}


.cards-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    width: 70%;
}

.card-img{
    max-height: 200px;
    border-radius: 10px;
}

.cards-about:hover {
    transform: rotateX(180deg);
}

.cards-about .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateX(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    border-radius: 5px;
    backface-visibility: hidden;
}

.card-back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/flecha.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    -webkit-background-size:cover;
}

.card-back h3{
    align-self: center;
    justify-self: center;
    padding: 0;
    color: whitesmoke;
    text-shadow: 0 0 15px var(--rojo);
    vertical-align: center;
}

.cards-about .card-back a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(122, 122, 122, 0.26);
    width: 40%;
    height: 30%;
    bottom: 20px;
}


/* ----- GALERIA ----- */
#galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galeria h1{
    margin-bottom: 50px;
    text-align: center;
}

.galeria-img{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    gap:20px;
}

.galeria-img img{
    border: whitesmoke 0.5px solid;
    border-radius: 10px;
    transition: transform 0.7s ease;
    cursor: pointer;
}

.galeria-img img:hover{
    transform: scale(1.05);
    cursor: pointer;
    opacity: 1;
}


/* ----- PRODUCTOS ----- */

#productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 150px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    padding: 0 20px 20px 20px;  
    width: 100%;
    gap: 40px;
    margin-top: 50px;
}

.cards-productos{
    display: flex;
    justify-content:stretch;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 28%;
    padding: 20px;
    gap: 15px;
    border-radius: 10px;
    border: whitesmoke solid 1px;
}

.ver-mas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
    transform: translateY(20px);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); 
}

.ver-mas h3{
    cursor: pointer;
    text-shadow: 0 0 15px var(--rojo);
}

.cards-productos:hover .ver-mas {
    visibility: visible;
    opacity: 1;
}

.cards-productos:hover .ver-mas {
    transform: translateY(0);
}

.cards-productos h3,
.cards-productos p,
.cards-productos img {
    color: whitesmoke;
    text-align: center;
}

.cards-productos img{
    width: 68%;
}

.cards-productos h3,
.cards-productos p   {
    color: whitesmoke;
    text-align: center;
}


/* ----- CONTACTO ----- */

#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 80px;
}

.contacto{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    width: 80%;
    border: var(--blanco) 2px solid;
    background: linear-gradient(180deg, #212121 0%, var(--negro) 100%);
    border-radius: 10px;
    margin-top: 50px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    gap: 10px;
    padding: 20px;
}

.form h2{
    color: whitesmoke;
    font-size: 60px;
    
}

.form label{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    color: whitesmoke;
    padding-bottom: 8px;
    padding-top: 13px;
    font-size: 25px;
}

.form textarea{
    border-radius: 3px;
    width: 400px;
    height: 200px;
    border: 0 none;
    padding: 10px;
}

.form input{
    border-radius: 3px;
    width: 400px;
    height: 30px;
    border: 0 none;
    padding: 10px;
}

.form input[type=submit] {
    padding:5px 15px; 
    background: var(--negro); 
    border:2px var(--blanco) solid;
    cursor:pointer;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 50px;
    color: whitesmoke;
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
    padding-right: 40px;
}

.mapa iframe{
        width: 100%;
        height: 600px;
        padding-right: 20px;
}

/* xxxxxxxxx VER XXXXXXXXXXX */
/* xxxxxxxxx VER XXXXXXXXXXX */
/* xxxxxxxxx VER XXXXXXXXXXX */
/* xxxxxxxxx VER XXXXXXXXXXX */
.focus-input{
    /* crear clase */
}

.focus-input:focus{
}

/* xxxxxxxxx VER XXXXXXXXXXX */
/* xxxxxxxxx VER XXXXXXXXXXX */
/* xxxxxxxxx VER XXXXXXXXXXX */
/* xxxxxxxxx VER XXXXXXXXXXX */


/* ----- FOOTER ----- */

footer {
    background-color: var(--negro);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.redes,
.diseño,
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.footer-img img{
    width: 60%;
}

.diseño{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.diseño p{
    color: whitesmoke;
    font-family: 'Norsebold', sans-serif;
    font-size: 28px;
    text-align: center;
}